/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */
/* Doodle Stage */

@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

#stage {
  background: #ccc;
  height: 400px;
  width: 800px;
}

.block  {
display: flex;
justify-content: center;
}

.heads  {
display: flex;
}

.belts  {
display: flex;
}

.cam1 {
display: flex;
}

.cam2 {
display: flex;
}

.balancer {
display: flex;
}

.exhaust {
display: flex;
}



